
<form action="/random/results">

  <div>
    <label for="min_input">Minimum</label>
    <input id="min_input" type="text" name="users_min" placeholder="E.g. 1">
  </div>

  <div>
      <label for="max_input">Maximum</label>
      <input id="max_input" type="text" name="users_max" placeholder="E.g. 10">
  </div>

  <button>Pick random number</button>
  
</form>
